
a {
    text-decoration: none!important;
}

.img-books{
    margin-right: 20px;
}

.active {
    background-color: gold;
    border-color:gold;
}

span {
    width: 60px;
}

.search-book {
    margin-bottom: 10px;
    max-width: 500px; 
    padding-bottom: 10px; 
    margin: auto; 
    color: #405065;
}

form-control {
box-shadow: 0 10px 40px 0 #B0C1D9;
}

.form-control::placeholder{ 
   font-family: FontAwesom;
}

