

#mainNav {
  background: rgba(255, 255, 255, 0.461) !important;
  background-color: white !important;
  height: 70px;
}

.navbar-collapse {
  background-color: white !important;
}

#mainNav a {
  margin-left: 25px;
}