
.bottoni {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}

.buttonselect {
    margin-left: 10px;
}


.btn-sm {
    padding: 5px 5px; 
    font-size: 0.6em; 
    line-height: 1.5;
}
